{{!-- Will take project objects as data --}}
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Title of Item</h5>
    <p class="card-text">Short Description of Thingy thing</p>
    <p class="card-text">Price of thing</p>
    <a href="#" class="btn btn-primary">Fund It</a>
      <div class="card-footer text-muted">
    Date Created: Date 
  </div>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Title of Item</h5>
    <p class="card-text">Short Description of Thingy thing</p>
    <p class="card-text">Price of thing</p>
    <a href="#" class="btn btn-primary">Fund It</a>
  </div>
    <div class="card-footer text-muted">
    Date Created: Date
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Title of Item</h5>
    <p class="card-text">Short Description of Thingy thing</p>
    <p class="card-text">Price of thing</p>
    <a href="#" class="btn btn-primary">Fund It</a>
  </div>
    <div class="card-footer text-muted">
    Date Created: Date
  </div>
</div>